<img src="img/images.png" style="height: 100px;">

<div style="text-align: center;">

# Clase 3 – Tipos de datos en Python

<img src="img/Python-Logo.jpg" style="height:320px;">
</div>

### *Esteban Sánchez*

## 1. Comentarios

### - ¿Qué son?

Fragmentos de texto dentro de un archivo .py que el intérprete ignora por completo.

#### Utilidad 
- Aumentan la legibilidad del código.
- Sirven como documentación rápida.
- Deben usarse con moderación: el código limpio es la mejor documentación (PEP 8, 2023).

### - Tipos de Comentarios
#### Comentarios de una línea
Precidio de un _#_

In [1]:
# Mostrar un saludo
print ("Hello World") #instrucción print

Hello World

#### Comentarios de varias líneas
Entre triple comillas, sean simples o dobles

In [3]:
def producto (x,y) :
    """
    Devuelve el producto de dos números
    """
    return x*y

print(producto(5,3))

15

## 2. Literales, variables y tipos básicos

Python al ejecutar un programa realiza operaciones con objetos

-  Objetos: cualquier tipo de datos (números, caracteres o datos más complejos).
-  Operaciones: cómo manipulamos estos datos

##### Ejemplo:

In [4]:
4+3

7

### 2.1 Literales
Python tiene una serie de tipos de datos integrados en su propio lenguaje. </br>
Los literales son expresiones que generan objetos  según su tipo, pueden ser:
- Simples o compuestos.
- Mutables o immutables

#### Literales Simples

- Enteros
- Decimales o flotantes
- Booleano

In [6]:
print (4)   #número entero
print (4.2) #numero decimal/flotante
print ("Hello World") #string
print (False)

4
4.2
Hello World
False

#### Literales Compuestos
- Tuplas
- Listas
- Diccionarios
- Conjuntos

In [7]:
print ([1,2,3,3])   #lista - mutable
print  ({'Nombre' :'John Doe' , "edad":30})    #Diccionario - mutable
print ({1,2,3,3})  #Conjunto - mutable
print ((4,5))   # tupla - inmutable
2,4    #tupla

[1, 2, 3, 3]
{'Nombre': 'John Doe', 'edad': 30}
{1, 2, 3}
(4, 5)

(2, 4)

### 2.2 Variables

- Referencia a objetos
- Variables y Objetos se almacenas en zonas de memoraias distintas
- Las variables siempre se refieren a objetosy no a otras variables
- Otros objetos is pueden referenciar a otros objetos. Por ejemplo: Listas
- Sentencia de asisgnnacion:
nombre_variable "=" objeto

In [8]:
# # Asignación de variables

a = 5
print (a)

5

In [9]:
a= 1      # Entero 
b = 4.0   # coma flotante
c= "ITQ"  #string
d=10 + 1j #numero complejo
e= True  #False   #boolean
f= None   #None

# visualizar valor de las variables y su tipo
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))

1
<class 'int'>
4.0
<class 'float'>
ITQ
<class 'str'>
(10+1j)
<class 'complex'>
True
<class 'bool'>
None
<class 'NoneType'>

- Las variable no tienen tipo.
- Las variables apuntan a los objetos que si tienen.
- Ya que Python es un lenguaje de tipado dinámico, la misma variable puede apuntar, en momentos diferentes de la ejecucción del programa, a objetos de diferente tipo.

In [10]:
a = 3
print(a)
print(type(a))
a = 'Pablo García'
print(a)
print(type(a))
a = 4.5
print(a)
print(type(a))

3
<class 'int'>
Pablo García
<class 'str'>
4.5
<class 'float'>

- *Garbage Collection: Cuando un objeto deja de ser referenciado, se elimina automáticamente.*

#### Identificadores
- Podemos obtener un identificador único para los objetos referenciados por variables.
- Este identificador se obtiene a partir de la dirección de memoria.

In [12]:
a = 3
print(id(a))
a = 'Juan García'
print(id(a))
a = 4.5
print(id(a))

140712132727656
1517154182480
1517151726576

- *Referencias compartidas: un mismo objeto puede ser referenciado por más de una variable.*
- *Variables que referencian al mismo objeto tienen mismo identificador.*

In [13]:
a =4567
print(id(a))

1517155631184

In [14]:
b = a
print(id(b))

1517155631184

In [15]:
c =4567
print(id(c))

1517155631376

In [16]:
a = 25
b = 25
print(id(a))
print(id(b))
print(id(25))

140712132728360
140712132728360
140712132728360

In [17]:
# # Ojo con los enteros "grandes" [-5, 256]
a = 258
b = 258
print(id(a))
print(id(b))
print(id(258))

1517155631632
1517155631568
1517155631888

- Referencia al mismo objeto a través de asignar una variable a otra

In [18]:
a = 400
b = a
print(id(a))
print(id(b))

1517155631856
1517155631856

- Las variables pueden aparecer en expresiones.

In [19]:
a = 3
b = 5
print(id(a))
print (a + b)

140712132727656
8

In [21]:
c = a + b
print(c)
print(id(c))

8
140712132727816

#### Nombres de las variables
- No se puede poner números delante del nombre de las variables.
- Por convención, evitar CamelCase. Mejor usar snake_case: uso de “_” para separar palabras.
-  El lenguaje diferencia entre mayúsculas y minúsculas.
-  Deben ser descriptivos.
-  Hay palabras o métodos reservados
    - **Ojo** con reasignar un nombre reservado!

In [23]:
print(pow(3,2))

9

In [31]:
print(pow(3,2))

pow = 1 #built-in reasignado
print(pow)

print(pow(3,2))

TypeError: 'int' object is not callable

In [28]:
def pow(a, b):
    return a + b
print(pow(3,2))

5

#### Asignacion múltiple de variables

In [30]:
x, y, z = 1, 2, 3
print(x, y, z)
t = x, y, z, 7, "Python"
print(t)
print(type(t))

1 2 3
(1, 2, 3, 7, 'Python')
<class 'tuple'>

- Esta técnica tiene un uso interesante: el intercambio de valores entre dos variables

In [32]:
a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [33]:
a = 1
b = 2
c = a
a = b
b = c
print(a, b, c)

2 1 1

### 2.3 Tipos de datos básicos
#### Bool
- 2 posibles valores: 'True' o 'False'

In [34]:
a = False
b = True
print(a)
print(type(a))
print(b)
print(type(b))

False
<class 'bool'>
True
<class 'bool'>

- True’ y ‘False’ también son objetos que se guardan en caché, al igual que los enteros pequeños.

In [36]:
a = True
b = False
print(id(a))
print(id(b))
print(a is b)
print(a == b)

140712131258944
140712131258976
False
False

#### Números

In [37]:
print(2) # Enteros, sin parte fraccional.
print(3.4) # Números en coma flotante, con parte fraccional.
print(2+4j) # Números complejos.
print(1/2) # Numeros racionales.

2
3.4
(2+4j)
0.5

- Diferentes representaciones: base 10, 2, 8, 16.

In [38]:
x = 58 # decimal
z = 0b00111010 # binario
w = 0o72 # octal
y = 0x3A # hexadecimal
print(x == y == z == w)

True

#### Strings
- Cadenas de caracteres.
- Son secuencias: la posición de los caracteres es importante.
- Son immutables: las operaciones sobre strings no cambian el string original.

In [40]:
s = 'John "ee" Doe'
print(s[0]) # Primer carácter del string.
print(s[-1]) # Último carácter del string.
print(s[1:8:2]) # Substring desde el segundo carácter (inclusive) hasta el octavo (exclusive). Esta técnica se la conoce como 'slicing'.
print(s[:]) # Todo el string.
print(s + "e") # Concatenación.

J
e
on"e
John "ee" Doe
John "ee" Doee

### 2.4 Conversión entre tipos
- A veces se quiere que un objeto sea de un tipo específico.
- Podemos obtener objetos de un tipo a partir de objetos de un tipo diferente (casting)

In [41]:
a = int(2.8) # a será 2
b = int("3") # b será 3
c = float(1) # c será 1.0
d = float("3") # d será 3.0
e = str(2) # e será '2'
f = str(3.0) # f será '3.0'
g = bool("a") # g será True
h = bool("") # h será False
i = bool(3) # i será True
j = bool(0) # j será False
k = bool(None)
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))
print(f)
print(type(f))
print(g)
print(type(g))
print(h)
print(type(h))
print(i)
print(type(i))
print(j)
print(type(j))
print(k)

2
<class 'int'>
3
<class 'int'>
1.0
<class 'float'>
3.0
<class 'float'>
2
<class 'str'>
3.0
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
False

In [42]:
print(7/4) # División convencional. Resultado de tipo 'float'
print(7//4) # División entera. Resultado de tipo 'int'
print(int(7/4)) # Divisón convencional. Conversión del resultado de 'float' a'int'

1.75
1
1

### 2.5 Operadores
- Combinación de valores, variables y operadores
- Operadores y operandos
#### Operatores aritméticos
----------------
Operador| Desc
<br>
a + b |    Suma
<br>
a - b |   Resta
<br>
a / b |   División
<br>
a // b|  División Entera
<br>
a % b |  Modulo / Resto
<br>
a * b |  Multiplicacion
<br>
a ** b|  Exponenciación

In [51]:
x = 3
y = 2
print('x + y = ', x + y)
print('x - y = ', x - y)
print('x * y = ', x * y)
print('x / y = ', x / y)
print('x // y = ', x // y)
print('x % y = ', x % y)
print('x ** y = ', x ** y)

x + y =  5
x - y =  1
x * y =  6
x / y =  1.5
x // y =  1
x % y =  1
x ** y =  9

#### Operaciones de comparación 
----------------
Operador| Desc
<br>
a > b |    Mayor
<br>
a < b |   Menor
<br>
a == b |   Igualdad
<br>
a != b|  Desigualdad
<br>
a >= b |  Mayor o Igual
<br>
a <= b|  Menor o Igual

In [44]:
x = 10
y = 12
print('x > y es ', x > y)
print('x < y es ', x < y)
print('x == y es ', x == y)
print('x != y es ', x != y)
print('x >= y es ', x >= y)
print('x <= y es ', x <= y)

x > y es  False
x < y es  True
x == y es  False
x != y es  True
x >= y es  False
x <= y es  True

#### Operadores Lógicos

----------------
Operador| Desc
<br>
a and b  | True, si ambos son True
<br>
a or b |   True, si alguno de los dos son True
<br>
a ^ b |   XOR- True, si solo uno de los dos es True
<br>
not a|  Negación

In [45]:
x = True
y = False
print('x and y es :', x and y)
print('x or y es :', x or y)
print('x xor y es :', x ^ y)
print('not x es :', not x)

x and y es : False
x or y es : True
x xor y es : True
not x es : False

#### Operadores Binarios
----------------
Operador| Desc
<br>
a & b |    And Binario
<br>
a | b |   Or Binario
<br>
a ^ b |   Xor Binario
<br>
~ a |  Not Binario
<br>
a % b |  Modulo / Resto
<br>
a >> b | Desplazamiento binario a derecha
<br>
a << b |  Desplazamiento binario a izquierda

In [46]:
x = 0b01100110
y = 0b00110011
print("Not x = " + bin(~x))
print("x and y = " + bin(x & y))
print("x or y = " + bin(x | y))
print("x xor y = " + bin(x ^ y))
print("x << 2 = " + bin(x << 2))
print("x >> 2 = " + bin(x >> 2))

Not x = -0b1100111
x and y = 0b100010
x or y = 0b1110111
x xor y = 0b1010101
x << 2 = 0b110011000
x >> 2 = 0b11001

#### Operadores de Asignación
----------------
Operador| Desc
<br>
= |    Asignación
<br>
+= |   Suma y asignación
<br>
-= |   Resta y asignación
<br>
*= |  Multiplicacion y asignación
<br>
/= |  División y asignación
<br>
%= |  Módulo y asignación
<br>
//=| División entera y asignación
<br>
**= | Exponencial y asignación
<br>
&= | and y asignación
<br>
|== | Or y asignación
<br>
^= | Xor y asignación
<br>
»= | Despl. Derecha y asignación
<br>
«== | Despl. Izquierda y asigación

In [47]:
a = 5
a *= 3 # a = a * 3
a += 1 # No existe a++, ni ++a,a--,--a
print(a)
b = 6
b -= 2 # b = b - 2
print(b)

16
4

#### Operadores de Identidad

----------
Operador |   Desc
<br>
a is b   |   True, si ambos operadores son una referencia al mismo objeto
<br>
a is not b | True, si ambos operadores no son una referencia al mismo objeto

In [49]:
a = 4444
b = a
print(a is b)
print(a is not b)

True
False

#### Operadores de Pertenencia
-------
Operador | Desc
<br>
a in b  | True, si a se encuentra en la secuencia b
<br>
a not in b | True, si a no se encuentra en la secuencia b

In [50]:
x = 'Hola Mundo'
y = {1:'a',2:'b'}
print('H' in x) # True
print('hola' not in x) # True
print(1 in y) # True
print('a' in y) # False

True
True
True
False

### 2.6 Entrada de valores

In [52]:
valor = input("Inserte valor:")
print(valor)
print(type(valor))

Inserte valor: Hola

Hola
<class 'str'>

In [53]:
grados_c = int(input("Conversión de grados a fahrenheit, inserte un valor: "))
print(f"Grados F: {1.8 * (grados_c) + 32}")

Conversión de grados a fahrenheit, inserte un valor:  23

Grados F: 73.4

## Tipos de datos compuestos (colecciones)

### 3.1 Listas
- Una colección de objetos.
- Mutables.
- Tipos arbitrarios heterogeneos.
- Puede contener duplicados.
- No tienen tamaño fijo. Pueden contener tantos elementos como quepan en memoria.
- Los elementos van ordenados por posición.
- Se acceden usando la sintaxis.
- Los índices van de 0 a n-1, donde n es el número de elementos de la lista.
- Son un tipo de Secuencia, al igual que los strings; por lo tanto, el orden (es decir, la posición de los objetos de la lista) es importante.
- Soportan anidamiento.
- Son una implementación del tipo abstracto de datos: Array Dinámico.
### Operaciones con listas
- Creación de listas.

In [54]:
letras = ['a', 'b', 'c', 'd']
palabras = 'Hola mundo como estas'.split()
numeros = list(range(7))
print(letras)
print(palabras)
print(numeros)
print(type(numeros))

['a', 'b', 'c', 'd']
['Hola', 'mundo', 'como', 'estas']
[0, 1, 2, 3, 4, 5, 6]
<class 'list'>

In [55]:
# # Pueden contener elementos arbitrarios / heterogeneos
mezcla = [1, 3.4, 'a', None, False]
print(mezcla)
print(len(mezcla)) # len me da el tamaño de la lista número de elementos

[1, 3.4, 'a', None, False]
5

In [56]:
# # Pueden incluso contener objetos más "complejos"
lista_con_funcion = [1, 2, len, pow]
print(lista_con_funcion)

[1, 2, <built-in function len>, 1]

In [57]:
# # Pueden contener duplicados
lista_con_duplicados = [1, 2, 3, 3, 3, 4]
print(lista_con_duplicados)

[1, 2, 3, 3, 3, 4]

- Obtención de la longitud de una lista.

In [58]:
letras = ['a', 'b', 'c', 'd', 1]
print(len(letras))

5

- Acceso a un elemento de una lista

In [59]:
print(letras[2])
print(letras[-5])
print(letras[0])

c
a
a

- Slicing: obtención de un fragmento de una lista, devuelve una copia de una parte de la lista
    - Sintaxis: lista [ inicio : fin : paso ]

In [61]:
letras = ['a', 'b', 'c', 'd', 'e']
print(letras[1:3])
print(letras[:3])
print(letras[:-1])
print(letras[2:])
print(letras[:])
print(letras[::2])

['b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['c', 'd', 'e']
['a', 'b', 'c', 'd', 'e']
['a', 'c', 'e']

In [62]:
letras = ['a', 'b', 'c', 'd']
print(letras)
print(id(letras))
a = letras[:]
print(a)
print(id(a))
print(letras.copy())
print(id(letras.copy()))

['a', 'b', 'c', 'd']
1517166669824
['a', 'b', 'c', 'd']
1517169505408
['a', 'b', 'c', 'd']
1517169506816

- Añadir un elemento al final de la lista

In [63]:
letras.append('e')
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e']
1517166669824

In [64]:
letras += 'e'
print(letras)
print(id(letras))

['a', 'b', 'c', 'd', 'e', 'e']
1517166669824

- Insertar en una posición

In [65]:
print(len(letras))
letras.insert(1,'g')
print(len(letras))
print(letras)
print(id(letras))

6
7
['a', 'g', 'b', 'c', 'd', 'e', 'e']
1517166669824

- Modificación Individual de la lista

In [66]:
letras[5] = 'f'
print(letras)
print(id(letras))

['a', 'g', 'b', 'c', 'd', 'f', 'e']
1517166669824

In [67]:
# # index tiene que estar en rango
letras[20] = 'r'

IndexError: list assignment index out of range

- Modificación múltiple usando slicing

In [68]:
letras = ['a', 'b', 'c', 'f', 'g', 'h', 'i', 'j', 'k']
print(id(letras))

1517170118016

In [69]:
letras[0:7:2] = ['z', 'x', 'y','p']
print(letras)
print(id(letras))

['z', 'b', 'x', 'f', 'y', 'h', 'p', 'j', 'k']
1517170118016

In [70]:
# # Ojo con la diferencia entre modificación individual y múltiple. Asignación individual de lista crea anidamiento.
numeros = [1, 2, 3]
numeros[1] = [10, 20, 30]
print(numeros)
print(numeros[1][0])
numeros[1][2] = [100, 200]
print(numeros)
print(numeros[1][2][1])

[1, [10, 20, 30], 3]
10
[1, [10, 20, [100, 200]], 3]
200

- Eliminar un elemento

In [72]:
#letras.remove('f')
if 'p' in letras:
    letras.remove('p')
# #letras.remove('z')
print(letras)

['z', 'b', 'x', 'f', 'y', 'h', 'j', 'k']

In [73]:
# elimina el elemento en posición -1 y lo devuelve
elemento = letras.pop()
print(elemento)
print(letras)

k
['z', 'b', 'x', 'f', 'y', 'h', 'j']

In [74]:
numeros = [1, 2, 3]
print(numeros)
numeros[2] = [10, 20, 30]
print(numeros)
n = numeros[2].pop()
print(numeros)
print(n)

[1, 2, 3]
[1, 2, [10, 20, 30]]
[1, 2, [10, 20]]
30

In [76]:
numeros1=10
print(numeros1)
print(numeros)

10
[1, 2, [10, 20]]

- Encontrar el indice de un elemento

In [78]:
letras = ['a', 'b', 'c', 'c']
if 'a' in letras:
    print(letras.index('a'))
print(letras)

0
['a', 'b', 'c', 'c']

- Concatenar listas

In [79]:
lacteos = ['queso', 'leche']
frutas = ['naranja', 'manzana']
print(id(lacteos))
print(id(frutas))
compra = lacteos + frutas
print(id(compra))
print(compra)

1517161044480
1517161047808
1517171329600
['queso', 'leche', 'naranja', 'manzana']

In [80]:
# # Concatenación sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.extend(['pera', 'uvas'])
print(frutas)
print(id(frutas))

1517161529088
['naranja', 'manzana', 'pera', 'uvas']
1517161529088

In [81]:
# # Anidar sin crear una nueva lista
frutas = ['naranja', 'manzana']
print(id(frutas))
frutas.append(['pera', 'uvas'])
print(frutas)
print(id(frutas))

1517161050240
['naranja', 'manzana', ['pera', 'uvas']]
1517161050240

- Replicar una lista

In [82]:
lacteos = ['queso', 'leche']
print(lacteos * 3)
print(id(lacteos))
a = 3 * lacteos
print(a)
print(id(a))

['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
1517161105856
['queso', 'leche', 'queso', 'leche', 'queso', 'leche']
1517161529088

- Copiar lista

In [83]:
frutas2 = frutas.copy()
frutas2 = frutas[:]
print(frutas2)
print('id frutas = ' + str(id(frutas)))
print('id frutas2 = ' + str(id(frutas2)))

['naranja', 'manzana', ['pera', 'uvas']]
id frutas = 1517161050240
id frutas2 = 1517169505408

- Ordenar lista

In [84]:
lista = [4,3,8,1]
print(lista)
lista.sort()
print(lista)
lista.sort(reverse=True)
print(lista)

[4, 3, 8, 1]
[1, 3, 4, 8]
[8, 4, 3, 1]

In [85]:
# # Los elementos deben ser comparables para poderse ordenar
lista = [1, 'a']
lista.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [86]:
compra = ['Huevos','Pan','zapallo','Leche','Licor']
print(sorted(compra))
print(compra)

['Huevos', 'Leche', 'Licor', 'Pan', 'zapallo']
['Huevos', 'Pan', 'zapallo', 'Leche', 'Licor']

- Pertenencia

In [87]:
lista = [1, 2, 3, 4]
print(1 in lista)
print(5 in lista)

True
False

In [88]:
letras = ['a', 'b', 'c', ['x', 'y', ['i', 'j', 'k']]]
print(letras[0])
print(letras[3][0])
print(letras[3][2][0])

a
x
i

In [89]:
print(letras[3])

['x', 'y', ['i', 'j', 'k']]

In [90]:
a =[1000,2,3]
b = a[:] #a.copy() #[:]
print(id(a))
print(id(b))
print(id(a[0]))
print(id(b[0]))

1517161702656
1517161172672
1517161928304
1517161928304

- Alias/Referencias en las listas
- Son mutables y las asignaciones a un objeto alteran el primero
- Pasar listas a funciones puede suponer un riesgo
- Clonar o copiar listas

In [91]:
lista = [2, 4, 16, 32]
ref = lista
print(id(lista))
print(id(ref))
ref[2] = 64
print(ref)
print(lista)

1517161707840
1517161707840
[2, 4, 64, 32]
[2, 4, 64, 32]

In [92]:
lista = [2000, 4, 16, 32]
copia = lista[:]
copia = lista.copy()
copia[2] = 64
print(lista)
print(copia)
print(id(lista))
print(id(copia))
print(id(lista[2]))
print(id(copia[2]))

[2000, 4, 16, 32]
[2000, 4, 64, 32]
1517161496512
1517161698880
140712132728072
140712132729608

In [93]:
lista = [0, 1, [10, 20]]
print(id(lista))
lista2 = [10, 20]
lista = [0, 1, lista2]
copia = lista[:] #.copy()
print(copia)
print(id(copia))
print(id(lista[2]))
print(id(copia[2]))
copia[2][0] = 40
print(copia)
print(lista)

1517161701056
[0, 1, [10, 20]]
1517161695296
1517161708736
1517161708736
[0, 1, [40, 20]]
[0, 1, [40, 20]]

In [94]:
# evitar que listas anidadas se copien por referencia
import copy
lista = [2, 4, 16, 32, [34, 10, [5,5]]]
copia = copy.deepcopy(lista)
copia[0] = 454
copia[4][2][0] = 64
print(lista)
print(copia)
print(f"{id(lista)} - {id(copia)}")
print(f"{id(lista[4])} - {id(copia[4])}")

[2, 4, 16, 32, [34, 10, [5, 5]]]
[454, 4, 16, 32, [34, 10, [64, 5]]]
1517169998976 - 1517161494656
1517161704128 - 1517161700160

### 3.2 Diccionarios
- Mapeo clave→valor, mutable, ordenado (Py ≥3.7).
- Claves: inmutables y únicas.
- Valores: cualquier objeto.

#### Operaciones de diccionarios
- Creacion de diccionarios

In [95]:
# Creación simple, usando una expresión literal.
persona = {'DNI' : '11111111D', 'Nombre' : 'Juan', 'Edad' : 26}
print(persona)

{'C.I': '11111111D', 'Nombre': 'Juan', 'Edad': 26}

In [97]:
# Creación uniendo dos colecciones.
nombres = ['Roberto', 'Jorge', 'Andrés', 'Carlos']
edades = [52, 14, 65]
datos = dict(zip(nombres,edades))
print(datos)

{'Roberto': 52, 'Jorge': 14, 'Andrés': 65}

In [98]:
# Creación pasando claves y valores a la función 'dict'
persona2 = dict(nombre='Ana', apellido='Lopez')
print(persona2)

{'nombre': 'Ana', 'apellido': 'Lopez'}

In [99]:
# Creación usando una lista de tuplas de dos elementos.
persona2 = dict([('nombre', 'Ana'), ('apellido','Lopez')])
print(persona2)

{'nombre': 'Ana', 'apellido': 'Lopez'}

In [108]:
## Creación incremental por medio de asignación (como las claves no existen, se crean nuevos items)
persona = {}
# print(persona['C.I'])
persona['C.I'] = '11111111D'
persona['Nombre'] = 'Juan'
persona['Edad'] = 26
persona['C.I'] = '222222222'
print(persona)

{'C.I': '222222222', 'Nombre': 'Juan', 'Edad': 26}

- Acceso a un valor  con la clave

In [109]:
persona = {'C:I' : '11111111D', 'Nombre' : 'Juan', 'Edad' : 26}
print(persona['Nombre'])

Juan

In [110]:
# Acceso a claves inexistentes o por índice produce error
# persona[1]
print(persona['Nombre'])
if 'Trabajo' in persona:
print(persona['Trabajo'])
else:
print("En el paro")
persona.get('Trabajo', "En el paro")

IndentationError: expected an indented block after 'if' statement on line 4 (4118875233.py, line 5)

- Modificación a un valor usando la  clave

In [111]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Juan', 'Edad' : 26}
persona['Nombre'] = 'Alejandro'
persona['Edad'] += 1
print(persona)

{'DNI': '11111111D', 'Nombre': 'Alejandro', 'Edad': 27}

- Agregar un valos usando la clave

In [112]:
persona = {'C.I' : '11111111D', 'Nombre' : 'Juan', 'Edad' : 26}
persona['Ciudad'] = 'Madrid'
print(persona)

{'C.I': '11111111D', 'Nombre': 'Juan', 'Edad': 26, 'Ciudad': 'Madrid'}

- Eliminar un valor con la clave

In [113]:
del persona['Ciudad']
value = persona.pop('Edad')
print(persona)
print(value)

{'C.I': '11111111D', 'Nombre': 'Juan'}
26

- Verificar existencia de clave

In [114]:
print('Nombre' in persona)
print('Apellido' in persona)

True
False

- Recuperar un valor de un clave, si no existe indica valor por defecto

In [115]:
persona = {'Nombre' : 'Jose'}
value = persona.get('Nombre')
print(value)
# persona['Estatura']
value = persona.get('Estatura', 180)
print(value)

Jose
180

- Anidamiento

In [116]:
persona = {
'Trabajos' : ['desarrollador', 'gestor'],
'Direccion' : {'Calle' : 'Pintor Sorolla', 'Ciudad' : 'Madrid'}
}
print(persona['Direccion'])
print(persona['Direccion']['Ciudad'])

{'Calle': 'Pintor Sorolla', 'Ciudad': 'Madrid'}
Madrid

- Métodos  (Items, claves, valores)

In [117]:
persona = {'DNI' : '11111111D', 'Nombre' : 'Juan', 'Edad' : 26}
print(list(persona.items()))
print(list(persona.keys()))
print(list(persona.values()))

[('DNI', '11111111D'), ('Nombre', 'Juan'), ('Edad', 26)]
['DNI', 'Nombre', 'Edad']
['11111111D', 'Juan', 26]

In [125]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Juan', 'Edad' : 26}
# iterar sobre las claves
print('Claves')
for key in dict_simple.keys(): # o dict_simple
    print(key)
print('\nValores')
# iterar sobre los valores
for value in dict_simple.values():
    print(value)

Claves
ID
Nombre
Edad

Valores
XCSDe1194
Juan
26

In [124]:
dict_simple = {'ID' : 'XCSDe1194', 'Nombre' : 'Juan', 'Edad' : 26}
# iterar sobre ambos, directamente con items().
for key, value in dict_simple.items():
    print('Clave: ' + str(key) + ', valor: ' + str(value))
for item in dict_simple.items(): # devuelve tuplas
    print('Item: ' + str(item))
# usar zip para iterar sobre Clave-Valor
for key, value in zip(dict_simple.keys(),dict_simple.values()):
    print('Clave: ' + str(key) + ', Valor: ' + str(value))

Clave: ID, valor: XCSDe1194
Clave: Nombre, valor: Juan
Clave: Edad, valor: 26
Item: ('ID', 'XCSDe1194')
Item: ('Nombre', 'Juan')
Item: ('Edad', 26)
Clave: ID, Valor: XCSDe1194
Clave: Nombre, Valor: Juan
Clave: Edad, Valor: 26

### 3.3 Conjuntos
- Colección mutable, sin duplicados, sin orden.
- Solo elementos hashables (inmutables).
- Útiles para álgebra de conjuntos.

#### Operaciones con conjuntos
- Creacin de conjuntos

In [127]:
set_1 = {0, 1, 1, 2, 3, 4, 4}
print(set_1)
set_2 = {'usuario1', 12, 2}
print(set_2)
set_3 = set(range(7))
print(set_3)
set_4 = set([0, 1, 2, 3, 4, 0, 1])
print(set_4)

{0, 1, 2, 3, 4}
{2, 12, 'usuario1'}
{0, 1, 2, 3, 4, 5, 6}
{0, 1, 2, 3, 4}

In [129]:
#Observa la diferencia entre listas y conjuntos
x = 'aabbc'
print(list(x))
print(set(x))

['a', 'a', 'b', 'b', 'c']
{'b', 'c', 'a'}

- Intenar acceder por indice puede causar errores

In [130]:
set1 = {0, 1, 2}
print(set1[0])

TypeError: 'set' object is not subscriptable

- Unión, intersección y diferencia

In [132]:
set_1 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set_2 = set([0, 1, 2, 3, 4, 42])
# union
print(set_1 | set_2)
# intersección
print(set_1 & set_2)
# diferencia
print(set_1 - set_2)
print(set_2 - set_1)

{0, 1, 2, 3, 4, 5, 8, 42, 13, 21}
{0, 1, 2, 3, 4}
{8, 13, 21, 5}
{42}

In [134]:
x = [1,2]
y = [2,3]
print(set(x) & set(y))

{2}

In [141]:
#Además de los operadores, que operan únicamente con Sets, también se pueden usar métodos que pueden operar sobre cualquier objeto iterable.
conjunto = {0, 4, 8}
lista = [2, 6, 9]
print(conjunto.union(lista))
print(conjunto.intersection(lista))
print(conjunto.difference(lista))

{0, 2, 4, 6, 8, 9}
set()
{0, 8, 4}

- Comparación

In [137]:
set3 = {0, 1, 1, 2, 3, 4, 5, 8, 13, 21}
set4 = set([0, 1, 2, 3, 4])
print(set4.issubset(set3))
print(set3.issuperset(set4))
print(set3.isdisjoint(set4))

True
True
False

- Pertenencia

In [139]:
words = {'calm', 'balm'}
print('calm' in words)

True

- Anidamiento

In [142]:
# Los conjuntos no soportan anidamiento, pero como permite elementos inmutables, se pueden "anidar" tuplas.
set_anidado = {1, (1, 1, 1), 2, 3, (1,1,1)}
print(set_anidado)

{1, 2, 3, (1, 1, 1)}

- Modificaciones de conjuntos

In [143]:
# A través de operador de asignación
set6 = {'a', 'b', 'c'}
set7 = {'a', 'd'}
# set6 |= set7 # set6 = set6 | set7
# set6 &= set7
set6 -= set7
print(set6)

{'b', 'c'}

In [146]:
# A través de método 'update'.
set_1 = {'a', 'b', 'c'}
set_2 = {'a', 'd'}
# set_1.update(set_2)
# set_1.intersection_update(set_2)
set_1.difference_update(set_2)
print(set_1)

{'b', 'c'}

In [147]:
# A través de métodos 'add' y 'remove'.
set5 = {'a', 'b', 'c'}
set5.add('d')
set5.remove('a')
print(set5)

{'d', 'b', 'c'}

### 3.4 Tuplas
- Secuencia inmutable.
- Pueden usarse como claves de dict.
- Desempaquetado y slicing idénticos a listas.


#### Operaciones con tulpas
- Creación de tuplas.

In [149]:
tuple_1 = ('Foo', 34, 5.0, 34)
print(tuple_1)
tuple_2 = 1, 2, 3
print(tuple_2)
tuple_3 = tuple(range(10))
print(tuple_3)
tuple_4 = tuple([0, 1, 2, 3, 4])
print(tuple_4)

('Foo', 34, 5.0, 34)
(1, 2, 3)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
(0, 1, 2, 3, 4)

In [150]:
singleton = (99,)
print(singleton, type(singleton))

(99,) <class 'tuple'>

In [151]:
print(len(tuple_1))

4

- Acceso por indice

In [152]:
tupla1 = ('Foo', 1, 2, 3)
print(tupla1[0]) # Primer elemento
print(tupla1[len(tupla1)-1]) # Último elemento
print(tupla1[-1]) # Índices negativos comienzan desde el final
print(tupla1[-len(tupla1)]) # primer elemento

Foo
3
3
Foo

- Asignarcion a tuplas provoca errores

In [153]:
tupla1[0] ='bar'

TypeError: 'tuple' object does not support item assignment

- Contar numero de repeticiones de un elemento

In [155]:
tuple1 = ('Foo',34, 5.0, 34)
print(tuple1.count(34))

2

- Encontrar indice d eun elemento

In [159]:
tuple1 = ('Foo', 34, 5.0, 34)
indice = tuple1.index(34)
print(indice)
print(tuple1[indice])

1
34

- Desempaquetar una tupla

In [158]:
tuple1 = (1, 2, 3, 4)
a, b, c, d = tuple1 # a,b,c - a,b,c,d - a,b,_,_ - a, *_
print(a)
print(b)
print(_)
print(d)

1
2
(2, 4)
4

### 3.5 Secuencias
<br>

|Funcion| Uso | 
|-------|-------|
| range	|range(0, 10, 2) → pares hasta 10.|
|enumerate|	for i, v in enumerate(lista):|
|zip	|Une elemento a elemento; se detiene al más corto.|

In [ ]:
list(range(0,10,2))

In [163]:
lista = [10, 20,30]
print(list(enumerate(lista)))

[(0, 10), (1, 20), (2, 30)]

In [165]:
# enumerate para iterar una colección (índice y valor)
lista = [10, 20, 30]
for index, value in enumerate(lista):
    print('Index = ' + str(index) + '. Value = ' + str(value))
for index, value in [(0,10), (1,20), (2,30)]:
    print('Index = ' + str(index) + '. Value = ' + str(value))

Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30
Index = 0. Value = 10
Index = 1. Value = 20
Index = 2. Value = 30

In [166]:
# enumerate para iterar una colección (índice y valor)
for index, value in enumerate(range(0,10,2)): 
    print('Index = ' + str(index) + '. Value = ' + str(value))
for value in enumerate(range(0,10,2)):
    print(value)

Index = 0. Value = 0
Index = 1. Value = 2
Index = 2. Value = 4
Index = 3. Value = 6
Index = 4. Value = 8
(0, 0)
(1, 2)
(2, 4)
(3, 6)
(4, 8)

In [168]:
# zip para unir, elemento a elemento, dos colecciones, retornando lista de tuplas
# útil para iterar dos listas al mismo tiempo
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
for nombre,edad in zip(nombres,edades): 
    print('Nombre: ' + nombre + ', edad: ' + str(edad))

Nombre: Fernando, edad: 21
Nombre: Gabriel, edad: 24
Nombre: Diego, edad: 23

In [169]:
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
for i in range(0,len(nombres)):
    print(f"Nombre es {nombres[i]} y edad es {edades[i]}")

Nombre es Fernando y edad es 21
Nombre es Gabriel y edad es 24
Nombre es Diego y edad es 23

In [170]:
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
jugadores = zip(nombres,edades) # genera secuencia
print(list(jugadores))
print(type(jugadores))

[('Fernando', 21), ('Gabriel', 24), ('Diego', 23)]
<class 'zip'>

In [171]:
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
jugadores = zip(nombres,edades)
print(list(jugadores))

[('Fernando', 21), ('Gabriel', 24), ('Diego', 23)]

In [174]:
#unzip
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
altura=[120,130,140]
jugadores = zip(nombres,edades, altura)
print(list(jugadores))

[('Fernando', 21, 120), ('Gabriel', 24, 130), ('Diego', 23, 140)]

In [176]:
nombres = ['Fernando','Gabriel','Diego']
edades = [21,24,23,22]
dd= [21,33,36]
jugadores_z = zip(nombres,edades, dd)
# print(list(jugadores_z))
jugadores_uz = zip(*jugadores_z)
print(list(jugadores_uz))

[('Fernando', 'Gabriel', 'Diego'), (21, 24, 23), (21, 33, 36)]

### 3.6 Conceptos Clave
- Identidad: id(obj) – dirección de memoria.
- Tipo: type(obj) – no cambia.
- Valor: mutable o inmutable.
  
| Mutable | Inmutable |
|----------|--------------|
|lista, dicc, set | int, float, bool, string y tuple.|

## 4. Ejercicios 
1. Escribe un programa que muestre por pantalla la concatenación de un número y una cadena
de caracteres. Para obtener esta concatenación puedes usar uno de los operadores explicados
en este tema. Ejemplo: dado el número 3 y la cadena ‘abc’, el programa mostrará la cadena
‘3abc’.
2. Escribe un programa que muestre por pantalla un valor booleano que indique si un número
entero N está contenido en un intervalo semiabierto [a,b), el cual establece una cota inferior
a (inclusive) y una cota superior b (exclusive) para N.
3. Escribe un programa que, dado dos strings S1 y S2 y dos números enteros N1 y N2, determine
si el substring que en S1 se extiende desde la posición N1 a la N2 (ambos inclusive) está
contenido en S2.
4. Dada una lista con elementos duplicados, escribir un programa que muestre una nueva lista
con el mismo contenido que la primera pero sin elementos duplicados.
5. Escribe un programa que, dada una lista de strings L, un string s perteneciente a L y un
string t, reemplace s por t en L. El programa debe mostrar la lista resultante por pantalla.
6. Escribe un programa que defina una tupla con elementos numéricos, reemplace el valor del
último por un valor diferente y muestre la tupla por pantalla. Recuerda que las tuplas son
inmutables. Tendrás que usar objetos intermedios.
7. Dada la lista [1,2,3,4,5,6,7,8] escribe un programa que, a partir de esta lista, obtenga la lista
[8,6,4,2] y la muestre por pantalla.
8. Escribe un programa que, dada una tupla y un índice válido i, elimine el elemento de la tupla
que se encuentra en la posición i. Para este ejercicio sólo puedes usar objetos de tipo tupla.
No puedes convetir la tupla a una lista, por ejemplo.
9. Escribe un programa que obtenga la mediana de una lista de números. Recuerda que la
mediana M de una lista de números L es el número que cumple la siguiente propiedad: la
mitad de los números de L son superiores a M y la otra mitad son inferiores. Cuando el
número de elementos de L es par, se puede considerar que hay dos medianas. No obstante,
en este ejercicio consideraremos que únicamente existe una mediana

### 4.1 Soluciones
1.

In [177]:
num = 7
txt = "xyz"
resultado = str(num) + txt
print(resultado)  # Salida: 7xyz

7xyz

2.

In [178]:
N = 12
a = 10
b = 20
esta_dentro = a <= N < b
print(esta_dentro)

True

3.

In [179]:
S1 = "abcdef"
S2 = "cdefg"
N1 = 2
N2 = 4
sub = S1[N1:N2+1]
print(sub in S2)

True

4.

In [180]:
original = [5, 5, 6, 7, 6, 8]
sin_dupes = list(set(original))
print(sin_dupes)

[8, 5, 6, 7]

5.

In [181]:
L = ['manzana', 'pera', 'manzana', 'uva']
s = 'manzana'
t = 'kiwi'
L = [t if item == s else item for item in L]
print(L)

['kiwi', 'pera', 'kiwi', 'uva']

6.

In [182]:
tupla = (10, 20, 30)
temp = list(tupla)
temp[-1] = 99
tupla = tuple(temp)
print(tupla)

(10, 20, 99)

7.

In [183]:
base = [1, 2, 3, 4, 5, 6, 7, 8]
salida = base[::-2]
print(salida)

[8, 6, 4, 2]

8.

In [184]:
tupla = ('a', 'b', 'c', 'd')
i = 2
nueva = tupla[:i] + tupla[i+1:]
print(nueva)

('a', 'b', 'd')

9.

In [185]:
import statistics
datos = [7, 1, 3, 5, 9, 11, 13]
med = statistics.median(datos)
print(med)

7